header{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width:100vw;
}


nav{
    width: 40vw;
}

h1{
    min-width: 10vw;
    max-width: 20vw;
}