button{
  width:100%;
  margin-top: 1vh;
}

footer{
  position:fixed;
  bottom:0;
  width:100vw;
  min-height: 5vh;
}

header{
  min-height: 10vh;
}

input{
  width: 100%;
  border: 1px solid black;
  border-radius:3%;
  padding: .1vw .3vw;
}

main{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  min-width:100vw;
}

/* CLASSES BEGIN HERE */

.container{
  min-height: 70vh;
  min-width: 40vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container-medium{
  min-height: 25vh;
  min-width: 40vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding:2vw;
  border: 1px solid black;
}

.error{
  font-style:italic;
  color:red;
  opacity: .9;
}

.page{
  max-height: 80vh;
  max-width:100vw;
}